.register__page {
  padding: 50px 0 30px 0;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 15px;
}
.register__content {
  display: flex;
  width: min-content;
  justify-content: center;
  margin: 0 auto;
  backdrop-filter: blur(2px);
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 10px;
}
